<a href="https://colab.research.google.com/github/kingketan9/ApplicationsOfAI-Labs/blob/main/Ass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Split this string
s = "Hi there Class!"
into a list.

In [1]:
s = "Hi there Class!"
print(s.split())

['Hi', 'there', 'Class!']

Q2. Given the variables
planet = "Earth"
diameter = 12742
Use .format() to print the following string:
The diameter of Earth is 12742 kilometers.

In [2]:
planet = "Earth"
diameter = 12742

print("The diameter of {} is {} kilometers.".format(planet, diameter))

The diameter of Earth is 12742 kilometers.

Q3. Given this nested list, use indexing to grab the word "hello"
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [3]:
lst =  [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2])

['hello']

Q4. Given this nested dictionary grab the word "hello".
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [4]:
 d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
 print(d['k1'][3]["tricky"][3]['target'][3])

hello

Q5. Create a function that grabs the email website domain from a string in the form:
user@domain.com

In [5]:
def email(x):
  print("Your domain is: " + x.split('@')[-1])

x = input("Enter your email :")

email(x)

Enter your email :abc@gmail.com
Your domain is: gmail.com

Q6. Create a basic function that returns True if the word 'dog' is contained in the input string.

In [6]:
def findDog(st):
    return 'dog' in st.lower().split()

str = input("Enter yor string :")
findDog(str)

Enter yor string :I love my pets

False

Q7. Create a function that counts the number of times the word "dog" occurs in a string.

In [7]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

str = input("Enter yor string :")
countDog(str)

Enter yor string :My dog is healthier than your dog

2

Q8. Use lambda expressions and the filter() function to filter out words from a list that don't start with the
letter 's'.
For example: seq = ['soup','dog','salad','cat','great']

In [8]:
seq = ['soup','dog','salad','cat','great']

list(filter(lambda item:item[0]!='s',seq))

['dog', 'cat', 'great']

Q9. You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 pos
sible results: "No Challan", "Small Challan", or "Heavy Challan". If your speed is 60 or less, the result is
"No Challan". If speed is between 61 and 80 inclusive, the result is "Small Challan". If speed is 81 or mor
e, the result is "Heavy Challan". Unless it is your birthday (encoded as a Boolean value in the parameters
of the function) -- on your birthday, your speed can be 5 higher in all cases.
caught_speeding(81,True)
caught_speeding(81,False)

In [9]:
def caught_speeding(speed, isbirthday):
    
    if isbirthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

caught_speeding(81,True)

'Small Ticket'

In [10]:
caught_speeding(81,False)

'Big Ticket'

Q10. Concatenate two lists index-wise
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]
Expected Outcome: ['My', 'name', 'is', 'Shelly']

In [11]:
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]

List3 = []

for a,b in zip(list1 , list2):
    List3.append(a+ b)
    
print(List3)

['My', 'name', 'is', 'Shelly']

Q11. Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
Expected Output: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [12]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

list3 = []

for i in list1:
  for j in list2:
    list3.append(i +j)

print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

Q12. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [13]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(2 , 7000)


print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Q13. Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]

In [14]:
list1 = [5, 20, 15, 20, 25, 50, 20]

for i in list1:
    if(i == 20):
        list1.remove(20)
        
        
print(list1)

[5, 15, 25, 50]

Q14. Check if a value 200 exists in a dictionary
d1 = {'a': 100, 'b': 200, 'c': 300}

In [15]:
d = {'a': 100, 'b': 200, 'c': 300}


for i,j in d.items():
    if(j == 200):
        print(True)

True

Q15. Find the sum of the series 2 +22 + 222 + 2222 + .. n terms

In [16]:
n = int(input("Enter the value of n : "))
ans = 0

for i in range(n):
    number  = ""
    for j in range(i+1):
        number = number + "2"
        
    number  = int(number)
    ans = ans + number
    
print(ans)

Enter the value of n : 6
246912