<a href="https://colab.research.google.com/github/kingketan9/ApplicationsOfAI-Labs/blob/main/PandasExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We will be using the SF Salaries Dataset from Kaggle or you can just download from the google drive link 
shared to you all

In [1]:
import pandas as pd
import numpy as np

Perform the following tasks:
1. Read Salaries.csv as a dataframe called sal.

In [2]:
sal = pd.read_csv('Salaries.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

2. Check the head of the DataFrame.

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

3. Use the .info() method to find out how many entries there are.

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

4. What is the average BasePay ?

In [21]:
sal1 = sal.dropna(subset = ["BasePay"])
sal2 = sal1.dropna(subset = ["OvertimePay"])
sal3 = sal2.drop(sal1[sal1.BasePay == "Not Provided"].index)
sal4 = sal3.drop(sal1[sal1.OvertimePay == "Not Found"].index)

In [33]:
sal4['BasePay'].astype(float).mean()

66325.44884048768

5. What is the highest amount of OvertimePay in the dataset?

In [23]:
sal4['OvertimePay'].astype(float).max()

245131.88

6. What is the job title of JOSEPH DRISCOLL? Note: Use all caps, there is also a lowercase Joseph 
Driscoll.

In [26]:
joseph_driscoll = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']
joseph_driscoll['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

7. How much does JOSEPH DRISCOLL make (including benefits)?

In [27]:
joseph_driscoll['TotalPayBenefits'].values[0]

270324.91

8. What is the name of highest paid person (including benefits)?

In [10]:
highest_paid = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]
highest_paid['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

9. What is the name of lowest paid person (including benefits)?

In [11]:
lowest_paid = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]
lowest_paid['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

10. What was the average (mean) BasePay of all employees per year? (2011-2014)?

In [42]:
sal4.BasePay = pd.to_numeric(sal4.BasePay)
sal4.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

11. How many unique job titles are there?

In [13]:
len(sal['JobTitle'].unique())

2159

12. What are the top 5 most common jobs?

In [14]:
sal['JobTitle'].value_counts().nlargest(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

13. How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one 
occurence in 2013?)

In [15]:
job_counts = sal[sal['Year'] == 2013]['JobTitle'].value_counts()
job_counts[job_counts == 1].count()

202

14. How many people have the word Chief in their job title?

In [16]:
type('JobTitle')

str

In [24]:
def find_chief(job_title):    
    if 'chief' in job_title.lower():
        return True
    else:
        return False

sum(sal['JobTitle'].apply(lambda x: find_chief(x)))

627

15. Is there a correlation between length of the Job Title string and Salary?

In [25]:
sal['title_length'] = sal['JobTitle'].apply(len)
sal[['title_length', 'TotalPayBenefits']].corr()

                  title_length  TotalPayBenefits
title_length          1.000000         -0.036878
TotalPayBenefits     -0.036878          1.000000